.vscode/**
.vscode-test/**
src/**
webview-ui/src/**
webview-ui/node_modules/**
webview-ui/tsconfig.json
webview-ui/vite.config.ts
node_modules/**
!node_modules/mysql2/**
!node_modules/pg/**
!node_modules/ssh2/**
!node_modules/sql.js/**
!node_modules/sql-formatter/**
!node_modules/uuid/**
.gitignore
tsconfig.json
**/*.ts
**/*.map
